*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    user-select: none;
}

#page1{

}


#navbar{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
}

#navcont1{
    color: rgb(255, 72, 0);
    font-size: 30px;
    font-weight: 800;
}

#navcont2 a{
    text-decoration: none;
    color: rgb(114, 114, 114);
    margin-left: 20px;
    transition-property: text-shadow;
    transition-duration: 500ms;
}
#navcont2 a:hover{
    
    text-shadow: 0px 0px 15px rgb(255, 162, 0);
}

.navcont3btn{
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    font-weight: 700;
}

#navcont3btn1{
    border: 2px solid rgb(255, 72, 0);
    color: rgb(255, 72, 0);
    background-color: white;
}
#navcont3btn2{
    border: none;
    background-color:  rgb(255, 72, 0);
    color: white;

}





#page1cont2{
   box-shadow: 0px 0px 5px rgb(207, 207, 207);
    display: flex;
    justify-content: space-around;
    height: 400px;
    /* padding: 100px; */
    align-items: center;
    background: linear-gradient(to left, rgb(255, 238, 228) , rgb(255, 255, 255),  rgb(255, 255, 255));
    position: relative;
}

#page1cont2leftbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

#page1cont2leftbox h1{
    font-size: 60px;
}

#page1cont2leftbox p{
    color: rgb(129, 129, 129);
}


#page1cont2leftboxBtn1{

    border: none;
    background-color:  rgb(255, 72, 0);
    color: white;
    /* width: 100px; */
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

#page1cont2rightbox img{
    border-radius: 30px;
    margin-right: 100px;
}

#page1cont2InputBox{
  box-shadow: 0px 0px 10px rgb(207, 207, 207);
    height: 70px;
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    bottom: -50px;
    background-color: white;
    border-radius: 10px;
}

#page1cont2InputBox button{
     border: none;
    background-color:  rgb(255, 72, 0);
    color: white;
    /* width: 100px; */
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    
}

#page2{
   
    height: 400px;
    /* margin-top: 100px; */
     
    background: linear-gradient(to right, rgba(255, 239, 239, 0.568),white, white,rgba(255, 250, 248, 0.637));
    padding:100px 100px 0px 100px;
}

#page2categories{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.page2categorybox{
    height: 150px;
    background-color: white;
    width: 150px;
    text-align: center;
    align-content: center;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(169, 169, 169);
    transition: transform 0.5s;

}

.page2categorybox img{
    border-radius: 10px;
}

.page2categorybox:hover{
    transform: scale(1.05);
}

#page3{
    
 
}

#featured{
    height: 60%;
    padding-top: 20px;
}

#featured h1{
    font-size: 50px;
    
    padding-left: 40px;
}

#featuredcont{
    margin-top: 20px;
display: flex;
gap: 20px;
justify-content:center;
}

.featuredcontbox{
    box-shadow: 0px 0px 5px rgba(222, 218, 218, 0.753);
    width: 280px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
  

}
.featuredcontbox img{
    width: 100%;
    height: 150px;
}

.featuredcontboxTextCont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.featuredcontbox p{
    
    color: rgb(105, 105, 105);
}
#promo{
    margin-top: 20px;
    background:linear-gradient(to right,   rgba(255, 221, 221, 0.758), rgba(255, 221, 221, 0.758),white, white);
    padding: 50px 100px 50px 100px;
}

#promo h1{
    font-size: 50px;
    padding-bottom: 30px;
}

#promocont{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}

.promocontbox{
     background-color: white;
    height: 80px;
    width: 350px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px rgb(220, 220, 220);
}

#page4{
    padding: 30px 0px 60px 50px;
  
}

#page4 h1{
    font-size: 40px;
    margin-top: 30px;
}

#page4cont2{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.page4cont2boxs{
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 5px rgb(207, 207, 207);
    border-radius: 20px;
    background-color: rgb(255, 226, 226);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    padding: 40px;
    
    text-align: center;
    /* align-content: center; */
}

.page4cont2boxs img{
    border-radius: 100%;
    
}

#page4cont3{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  
}

#page4cont3leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;

}

#page4cont3leftboxlogo{
    display: flex;
    gap: 100px;
}

#page4cont3rightbox{
  
    width: 40%;
      background: linear-gradient(to left, rgb(255, 226, 226), white);
      align-content: center;
      padding-left: 80px;
}


#footer{
    background-color: rgb(45, 45, 45);
    color: rgb(190, 190, 190);
    padding: 30px;

}

#footerContent{
    display: flex;
    justify-content: space-around;
    
}

#footerContent1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footerContent2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footerContent3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footerContent3Logos img{
    border-radius: 50%;
    margin-right: 20px;

}